.button {
  border-radius: 10px;
  padding: 17px 20px;
  cursor: pointer;
  transition: .2s ease-in-out;
  font-size: 21px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid rgba(148, 148, 148, 0.15);
}

.main .button.main,
.on-image .button.main {
  color: #fff;
  background: hsla(0,0%,100%,.16);
  border: 2px solid hsla(0,0%,100%,.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.on-light .button.secondary {
  background: #452eb7;
  border: 1px solid #fff !important;
  color: #ffffff;
}

.on-image .button.secondary {
  color: #fff;
  background: hsl(0deg 0% 47.28% / 20%) !important;
  border: 2px solid hsla(0,0%,100%,.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  transition: .2s ease-in-out;
}

.main .button.main:hover,
.on-image .button.main:hover {
  background: hsla(0,0%,100%,.25);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.on-light .button.secondary:hover {
  background: #5538e2;
  transition: all 0.3s ease-in-out;
}

.on-image .button.account-btn:hover,
.on-image .button.secondary:hover {
  background: hsla(0, 0%, 100%, 0.35) !important;
}

.button.account-btn {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  color: #ffffff;
  background: hsl(250.07deg 59.83% 44.9%) !important;
}

.on-image .button.account-btn {
  color: #fff;
  background: hsl(0deg 0% 47.28% / 20%) !important;
  border: 2px solid hsla(0,0%,100%,.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.button.account-btn:hover {
  background: #5538e2 !important;
  transition: all 0.3s ease-in-out !important;
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.button.add-workspcae-btn {
  padding: 5px 10px;
  color: #636363 !important;
  font-size: 21px !important;
  text-align: center;
  background: hsla(0,0%,100%,.2) !important;
  border: 2px solid hsla(0,0%,100%,.1) !important;
  border-radius: 10px !important;
  cursor: pointer;
  transition: background-color .15s ease !important;
  font-weight: 400;
  box-shadow: 0 1px 1px rgb(128 128 128 / 18%) !important;
}

.button.add-workspcae-btn:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  transition: all 0.3s ease-in-out !important;
}

.button.add-workspcae-btn:hover {
  background: linear-gradient(45deg, #14959160, #3e29a582);
}

@media only screen and (max-width: 500px) {
  .button {
    font-size: 17px;
    padding: 15px;
  }

  .button.account-btn {
    width: 37px;
    height: 37px;
  }
}