.info {
  background-image: radial-gradient(rgba(69, 46, 183, .85), rgba(55, 37, 146, .85), #1b1247), url("../../images/login-signup/login-signup-background-image.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover

}

.info-text {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8b8b8b0f;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.55);
} 

.info-main {
  margin-bottom: 25px;
  width: 50%;
  text-align: center;
  line-height: 1.5;
  font-size: 25px;
  color: #fff;
  opacity: .9;
}

.info .container {
  min-height: 100vh;
}

.hero-title {
  font-size: 45px;
  color: #fff;
  opacity: .5;
  margin-bottom: 25px;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.3), 0 -1px 3px rgba(0, 0, 0, 0.5);
}

.hero-label {
  color: #fff;
  background-color: #A0B72E;
  font-size: 17px;
  margin-bottom: 25px;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

@media only screen and (max-width: 1024px) {
  .info-main {
    font-size: 19px;
    width: 75%;
  }

  .hero-title {
    font-size: 37px;
  }
}

@media only screen and (max-width: 500px) {
  .info-main {
    font-size: 17px;
    width: 90%;
  }

  .hero-title {
    font-size: 25px;
  }

  .hero-label {
    font-size: 16px;
  }

  .container {
    padding: 10px;
  }
}
