.boardItem {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  width: 210px;
  height: 110px !important;
  border-radius: 10px;
  overflow: hidden;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  transition: all .3s;
  gap: 15px;
  position: relative;
}

.boardItem__text-wrapper {
  background-color: rgba(0, 0, 0, 0);
  transition: all .4s;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-shadow: 0px 1px 5px #3d3d3d;
}

.boardItem:hover {
  -webkit-text-stroke-width: .1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
}

.boardItem:hover .boardItem__text-wrapper {
  background-color: rgba(0, 0, 0, 0.488);
}


.boardItem:hover .boardItem__editBtn {
  opacity: 1;
}


.newBoardTitle {
  width: 150px;
  padding: 10px;
  height: 37px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 1px 15px rgb(121 121 121 / 10%);
  backdrop-filter: blur(12.3px);
  -webkit-backdrop-filter: blur(12.3px);
  border: 1px solid rgba(255, 255, 255, 0.64);
  color: #353535;
  margin-top: 5px;
  margin-left: 5px;
}

.newBoardTitle:focus-visible {
  outline: none !important;
}

/* >>>>>>>>>>>> */
.boardItem__menu {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 99999;
  font-size: 14px;
}

.boardItem__editBtn {
  background-color: transparent;
  position: absolute;
  top: 7px;
  right: 15px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  z-index: 9999;
  opacity: 0;
}

.boardItem__btnWrapper {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all .3s;
  top: 22px;
  right: 0;
}

.boardItem__btnWrapper p {
  font-size: 16px;
  transition: all .3s;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.boardItem__btnWrapper p:hover {
  opacity: .8;
  transition: all .2s ease-in-out;
}

.boardItem__editBtn:hover .boardItem__btnWrapper {
  visibility: visible;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #ffffff73;
}

@media only screen and (max-width: 992px) {
  .boardsList-items__create-wrapper,
  .boardItem {
    width: 48% !important;
  }

  .boardsList-items__create {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .boardsList-items__create-wrapper,
  .boardItem ,
  .boardsList-items__create {
    height: 145px !important;
  } 

  .boardsList-items__create-wrapper,
  .boardItem {
    width: 100% !important;
  }
}