.wrapper {
  width: fit-content;
}

.containerList {
  display: flex;
  padding: 10px;
  background: #363a3e74;
  box-shadow: 2px 2px 2px #242424b3, -2px -2px 6px #b5b5b5;
  align-items: self-start;
  padding-top: 140px;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.containerList.--content {
  width: fit-content;
  min-height: calc(100vh - 17px);
}

.list {
  background-color: #fff;
  border-radius: 10px;
  margin: 15px;
  padding: 17px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  transition: all .2s ease-in-out;
}

.to-do-lists {
  display: flex;
}

.list > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.list h3 {
  margin: 0;
}

.list button {
  border: none;
  background-color: #fff;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 5px !important;
  transition: all 0.2s ease-in-out;
}

.add-card button:hover,
.list.active .button:hover {
  box-shadow: 0 1px 4px #56565646;
  transition: all 0.2s ease-in-out;
}

.list button:hover {
  box-shadow: 1px 1px #d5d5d54f;
  transition: all 0.2s ease-in-out;
}

.list input {
  border-radius: 0.5em;
  outline: none;
  padding: 5px;
  border: 1px solid transparent;
}

.list input:focus-visible {
  outline: none !important;
  border: none !important;
}

.add-card input {
  border: 1px solid transparent;
  height: 50px;
}

.add-card input:focus-visible {
  border: none !important
}

.list.active {
  background-color: #ffffff80;
  transition: all .2s ease-in-out;
}

.add-list {
  background: #fff;
  border: none;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  position: fixed;
  height: 2rem;
  top: 41%;
  left: 3%;
  transform: translate(-50%, -50%);
}

li {
  display: flex;
}

.list-title-X h3 {
  color: #333;
  max-width: calc(100% - 17px);
  overflow: hidden;
}

.add-list-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 75px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  border-radius: 20px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.add-list-form input {
  border: none;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  background: #fff;
  -webkit-backdrop-filter: blur(12.3px);
  backdrop-filter: blur(12.3px);
  border-radius: 10px;
  margin-right: 10px;
  color: #333;
}

.add-list-form input:focus-visible {
  border: none !important;
  outline: none !important;
}

.add-card {
  padding: 0 !important;
  margin-top: 8px;
}

.add-list-form button {
  border: none;
  padding: 10px 20px;
  height: 50px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(12.3px);
  backdrop-filter: blur(12.3px);
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border: 1px solid #ffffff5c;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.add-list-form button:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: all .2s ease-in-out;
}

.add-list button {
  width: 200px !important;
}

.add-list {
  top: 80px;
  color: #fff;
  background: hsla(0,0%,100%,.16);
  border: 2px solid hsla(0,0%,100%,.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 20px;
  font-size: 19px;
}

.add-list:hover {
  background: hsl(0deg 0% 100% / 50%);
  transition: all 0.3s ease-in-out;
}

.list ul {
  list-style-type: none;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-top: 8px;
  padding: 8px;
  width: 227px;
  display: flex;
  align-items: center;
  height: 50px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.list-title-X i,
.add-card button {
  color: #333;
}

.add-card button i {
  scale: 1.5;
}

.card-buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-content {
  flex: 1;
  padding-right: 1px;
}

.card-actions {
  display: flex;
  gap: 7px;
}

.card li .delete-card {
  margin-top: 4px;
}

.delete-card button {
  border: none;
  border-radius: 0.5em;
  color: #000;
  cursor: pointer;
  padding: 5px 10px;
  margin-left: -9px;
}

.card-buttons {
  display: none;
  transition: all 0.2s ease-in-out;
}

.card-buttons {
  width: max-content;
}

.card:hover > .card-buttons {
  display: flex;
  transition: all 0.2s ease-in-out;
}

.delete-card button:hover {
  box-shadow: 1px 1px #d5d5d54f;
  background-color: #fff;
}

.containerClass {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  width: 100%;
  height: 100vh;
}

.container-class-text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  padding: 25px;
  border-radius: 10px;
  box-shadow: -3px 4px 8px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
}

.add-card {
  display: flex;
}

.containerList::-webkit-scrollbar {
  height: 10px;
}

.containerList::-webkit-scrollbar-track {
  background: #ffffff42 !important;
}

.containerList::-webkit-scrollbar-thumb {
  box-shadow: 0 4px 30px rgba(0, 0, 0, .1) !important;
  backdrop-filter: blur(12.3px) !important;
  -webkit-backdrop-filter: blur(12.3px) !important;
}

.containerList::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .9) !important;
}

@media only screen and (max-width: 1024px) {
  .container-class-text {
    font-size: 39px;
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .container-class-text {
    font-size: 35px;
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .container-class-text {
    font-size: 25px;
  }
}

@media only screen and (max-width: 414px) {
  .add-list-form button {
    padding: 10px;
    height: auto;
  }

  .add-list-form input {
    width: 187px;
  }
}