.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
}

.header.on-image {
  background: #ffffff17;
  box-shadow: 0 1px 3px rgb(37 37 37 / 55%);
}

.header.on-image .container {
  padding: 10px 25px;
  -webkit-backdrop-filter: blur(19.4px);
  backdrop-filter: blur(19.4px);
}

.header img {
  height: 50px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header-wrapper a {
  display: flex;
  gap: 10px;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 900;
  align-items: center;
  text-decoration: none;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .header img {
    height: 29px;
  }
}