.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  border-top: 1px solid #ffffff12;
  background-color: #00000014;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
  gap: 10px;
}

.footer-wrapper p{
  color: #ffffff;
  font-size: 16px;
}