.footer {
  position: fixed;
  bottom: 0;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(19.4px);
  width: 100%;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  gap: 10px;
}
.footer-wrapper p{
  cursor: pointer;
}