.workspaces {
  position: relative;
  font-family: "Poppins"; 
}

/* .header .container {
  background-image: url("../../images/login-signup/login-signup-background-image.webp");
  padding: 0;
}

.header-wrapper{
  backdrop-filter: blur(19.4px);
  padding: 10px 25px;
} */

.workspaces-title {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  color: #333;
}

.workspace-box__text-info {
  color: #333;
}

.workspaces-title h4 {
  font-size: 24px;
  font-weight: 500;
}

/* .workspaces-item {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
  max-width: 180px;
  position: relative;
} */

@media only screen and (max-width: 768px) {
  .workspaces {
    display: flex;
    flex-wrap: wrap;
  }

  .workspaces-title {
    width: 100%;
  }
}