.workspaces-item {
  max-width: 220px;
  width: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-bottom: 20px;
}

.workspaces-item__info {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
  position: relative;
  cursor: pointer;
  transition: all .4s;
  padding: 5px 15px 5px 5px;
  border-radius: 5px;
}

.workspaces-item__info:hover {
  background-color: #dde4ec;
}

.workspaces-item__img {
  min-width: 40px;
  min-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}

.workspaces-item__img img {
  width: 100%;
  height: 100%;

}

.workspaces-item__title {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.workspaces-arrow {
  display: block;
  width: 8px;
  margin-left: auto;
}

.workspaces-arrow--rotated {
  transform: rotate(180deg);
}

.workspaces-item__more {
  display: flex;
  flex-direction: column;

  gap: 5px;
  height: 0px;
  overflow: hidden;
}

.workspaces-item__more.active {
  height: auto;
  overflow: hidden;
}

.workspaces-item__more-icon {
  width: 20px;
  height: 20px;
  display: block;
}

.workspaces-item__more-tab.workspaces-item__more-boards span {
  color: #333;
}

.workspaces-item__more-tab {
  display: flex;
  gap: 5px;
  align-items: center;
  transition: all .4s;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 45px;
}

.workspaces-item__more-tab:hover {
  background-color: #b8bfc6;
}
.workspaces-item__more-tab.active{
  background-color: #cacaca;
}

@media only screen and (max-width: 768px) {
  .workspaces-item {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
}